body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#wheel-container {
    position: relative;
    width: 500px;
    margin: auto;
}

#arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid black;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

#spinBtn {
    margin-top: 30px;
    padding: 20px 50px;
    font-size: 28px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#answerSection input {
    font-size: 28px;
    padding: 10px;
    width: 120px;
}

#checkBtn {
    font-size: 26px;
    padding: 15px 30px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#taskBox {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
}

#result {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

#scoreBoard {
    margin-top: 35px;
    font-size: 28px;
}
