body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

h1 {
    font-size: 50px;
}

.hidden {
    display: none;
}

.modeBtn {
    margin: 10px;
    padding: 15px 40px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #333;
}

#lifePanel {
    font-size: 40px;
    margin-bottom: 15px;
}

#missionPanel,
#modePanel,
#scoreBoard {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background: white;
    border-radius: 20px;
    border: 2px solid #777;
}

#taskBox {
    font-size: 40px;
    margin-top: 20px;
}

#answerSection {
    margin-top: 20px;
}

#answerInput {
    font-size: 30px;
    width: 150px;
    text-align: center;
}

#checkBtn {
    font-size: 22px;
    padding: 10px 20px;
}

#wheel-container {
    margin: 20px auto;
    position: relative;
    width: 500px;
    height: 500px;
}

#arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid red;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
